<main>

  <h1 class="pagetitle">Editing Book</h1>
   <div class="error-message">
  <% if @book.errors.any? %>
 
    <%= @book.errors.count %> error prohibited this from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  
  <% end %>
  </div>
  
  <%= form_with model: @book, url: book_path(@book.id),method: :patch do|f| %>
    <div class="form">
      <p>Title</p>
      <%= f.text_field :title %>
    </div>
    
    <div class="form">
      <p>Body</p>
      <%= f.text_area :body %><br>
    </div>
    
    <div class="form">
      <%= f.submit 'Update Book' %>
    </div>
    
    <p>
    <%= link_to "Show", book_path(@book.id) %>
    |
    <%= link_to "Back", books_path %>
    </p>

  <% end %>

</main>
